
/***************** INTEGRATION *******************/
.nfix_working
{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #171313e6;
    color: red;
    text-align: center;
}
.nfix_working span
{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 50%;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: bold;
}

#nfix_gallery
{
    border: 1px solid red;
    width: 100%;
    height: auto;
    margin-top: 50px;
    column-count: 4;
    column-width: auto;
}

.nfix_list
{

}

/********************** MUTATIONS **********************/

.nfix_working-gallery
{
    height: 200px;
}


.nfix_menu
{
    padding: 0px 10px;
    /* margin: 0 30px; */
    vertical-align: top;
    background: #882227;
    border: 1px solid rgb(51, 51, 51);
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
}
.nfix_menu.on
{
    background: green;
}

/* buttons */
.nfix_bk { background: red; } .nfix_bk-active { background: #281414 }
.nfix_bu { background: #445130; } .nfix_bu-active { background: #445130; }
.nfix_lk { background: green; } .nfix_lk-active { background: green; }
.nfix_wh { background: #3a3a9d; } .nfix_wh-active { background: #1c1c42; }
.nfix_btn
{
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    width: 33.3333%;
    text-align: center;
}


/* wish listed */
.boxart-container, .bob-play-hitzone { cursor: url("../img/hamm_0.gif"), auto!important; }
.boxart-container.nfix_wh
{
    background: #4caa64;
    border: 4px solid #33df8e;
}
.boxart-image.nfix_wh
{
    opacity: 1;
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(200%);
    filter: grayscale(100%) contrast(200%);
}
.boxart-image
{
    /* width: 279px;
    height: 150px; */
    width: 335px;
    height: 185px;
}
